@using Pokemon.Models
@using Pokemon.Services
@using BlazorBootstrap
@inject FavoritePokemonService FavoriteService

<div class="pokemon-card" @onclick="OpenModal">
    @if (!string.IsNullOrWhiteSpace(Pokemon.Sprites?.front_default))
    {
        <img src="@Pokemon.Sprites.front_default" width="100" />
    }
    else
    {
        <div class="no-picture-div">
            <p>Picture not found</p>
        </div>
    }

    <p class="capitalize">@Pokemon.Name</p>

</div>

@code {
    [Parameter, EditorRequired] public Models.PokemonClass Pokemon { get; set; } = default!;
    [Parameter] public PokemonModal? ModalRef { get; set; }

    [Parameter] public string BattleResult { get; set; } = "";

    private bool IsFavorite;

    protected override async Task OnInitializedAsync()
    {
        var favorites = await FavoriteService.GetFavoritesAsync();
        IsFavorite = favorites.Any(p => p.Name == Pokemon.Name);
    }

    private async Task OpenModal()
    {
        await ModalRef.OpenModal(Pokemon.Name);
    }
}
