<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Pokedex
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="battle">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Battle Arena
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="favorite">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Favorite
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="battle-history">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Battle History
            </NavLink>
        </div>
    </nav>
</div>

