@using PokemonProject.Components.Shared
@using PokemonProject.Models
@using PokemonProject.Services
@using PokemonProject.Models.DTOs
@using BlazorBootstrap
@inject IFavoritePokemonService FavoriteService

<div class="pokemon-card" @onclick="OpenModal">
    @if (!string.IsNullOrWhiteSpace(Pokemon.Sprites?.front_default))
    {
        <img src="@Pokemon.Sprites.front_default" width="100" />
    }
    else
    {
        <div class="no-picture-div">
            <p>Picture not found</p>
        </div>
    }

    <p class="capitalize">@Pokemon.Name</p>

</div>

@code {
    [Parameter, EditorRequired] public Pokemon Pokemon { get; set; } = default!;
    [Parameter] public PokemonModal? ModalRef { get; set; }

    [Parameter] public string BattleResult { get; set; } = "";

    private bool IsFavorite;

    protected override async Task OnInitializedAsync()
    {
        var favoritesResult = await FavoriteService.GetFavoritesAsync();
        if (favoritesResult.IsSuccess && favoritesResult.Data != null)
        {
            IsFavorite = favoritesResult.Data.Any(p => p.Name == Pokemon.Name);
        }
        else
        {
            IsFavorite = false;
        }
    }

    private async Task OpenModal()
    {
        await ModalRef.OpenModal(Pokemon.Name);
    }
}
