@page "/favorite"
@using PokemonProject.Components.Shared
@using PokemonProject.Components
@using PokemonProject.Models
@using PokemonProject.Models.Entities
@using PokemonProject.Services
@using PokemonProject.Services.Interfaces
@inject IFavoritePokemonService FavoriteService

<h1 class="page-title">Favorite Pokemon List</h1>

@if (FavoritesList == null)
{
    <p>Loading...</p>
}
else if (FavoritesList.Count == 0)
{
    <p>No favorites added yet.</p>
}
else
{
    <ul class="favorite-list">
        @foreach (var pokemon in FavoritesList)
        {
            <li>
                <div class="pokemon-card" @onclick="() => OpenModal(pokemon)">
                    @if (!string.IsNullOrWhiteSpace(@pokemon.ImageUrl))
                    {
                        <img src="@pokemon.ImageUrl" width="100" />
                    }
                    else
                    {
                        <div class="no-picture-div">
                            <p>Picture not found</p>
                        </div>
                    }

                    <p>@pokemon.Name</p>
                </div>
            </li>
        }
    </ul>
}

<PokemonModal @ref="modalRef" OnClose="CloseModal" />

@code {
    private List<FavoritePokemon>? FavoritesList;
    private PokemonModal? modalRef;

    protected override async Task OnInitializedAsync()
    {
        var result = await FavoriteService.GetFavoritesAsync();

        if (result.IsSuccess && result.Data != null)
        {
            FavoritesList = result.Data; // Extract Data property here as well.
        }
        else
        {
            FavoritesList = new List<Models.Entities.FavoritePokemon>();
            Console.WriteLine($"Error fetching battle histories after delete: {result.ErrorMessage}");
        }
    }

    private async Task OpenModal(FavoritePokemon pokemon)
    {
        if (modalRef is not null && !string.IsNullOrWhiteSpace(pokemon.Name))
        {
            await modalRef.OpenModal(pokemon.Name);
        }
    }

    private async void CloseModal()
    {
        var result = await FavoriteService.GetFavoritesAsync();
        if (result.IsSuccess && result.Data != null)
        {
            FavoritesList = result.Data; // Extract Data property here as well.
        }
        else
        {
            FavoritesList = new List<Models.Entities.FavoritePokemon>();
            Console.WriteLine($"Error fetching battle histories after delete: {result.ErrorMessage}");
        }
        StateHasChanged();
    }
}