* {
    box-sizing: border-box;
}

.container {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
}

.pokemon-row {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.button-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-group {
    width: 300px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 16px 0;
}

.search-input {
    flex-grow: 1;
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.suggestion-list {
    position: absolute;
    list-style: none;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    max-height: 150px;
    overflow-y: auto;
    margin-top: 5px;
    padding: 0;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.suggestion-list li {
    padding: 8px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.suggestion-list li:hover {
    background: #f0f0f0;
}
.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
